extends layout
 
block content
  .container-fluid(style='text-align: center')
    if user
      .content(style='text-align: right')
        p You are logged in as #{user.username}
      h1 Add a Ride
      p.lead Add where when and if it's a round trip.
      .row
        //- Forms
        .col-lg-4 
          form(role='form', action="/addride",method="post", style='max-width: 300px')
            .form-group
                input.form-control(type="text", name="destination", placeholder="Enter destination")
            .form-group
                input.form-control(type="text", name="availableSeats", placeholder="Available Seats")
            .form-group
              .checkbox
                input(type="checkbox", name="roundTrip", checked=(true || false))
                | Round trip

            .form-group
              #dtpLeav.input-group.date
                input.form-control(type="text", name="dateLeaving", placeholder="Date leaving")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
              script(type="text/javascript").
                $(function() {
                $("#dtpLeav").datetimepicker({
                  stepping: 15,
                  minDate: moment().subtract(1, 'days')
                  });
                });

            .form-group
              #dtpRet.input-group.date
                input.form-control(type="text", name="dateReturning", placeholder="Date returning")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
              script.
                $(function() {
                $("#dtpRet").datetimepicker({
                  stepping: 15,
                  minDate: moment().subtract(1, 'days')
                  });
                });

            button.btn.btn-default(type='submit') Submit
            &nbsp;
            a(href='/')
              button.btn.btn-primary(type="button") Cancel    
          if info
            br
            .alert.alert-success(style='max-width: 300px')
              | #{info}

        //- Map
        .col-lg-8
          script.
            //- document.getElementById("p1").innerHTML = "WORKS?";
            var map;
            //- var SLOcoord;
            $(document).ready(function(){
              var map = new GMaps({
                div: '#map',
                lat: 35.2921795,
                lng: -120.6512117,
                zoom: 7
              });
              GMaps.geolocate({
              success: function(position){
                map.setCenter(position.coords.latitude, position.coords.longitude);
                map.addMarker({lat:position.coords.latitude, lng:position.coords.longitude});
              },
              error: function(error){
                alert('Geolocation failed: '+error.message);
              },
              not_supported: function(){
                alert("Your browser does not support geolocation");
              },
              always: function(){
              }
              });
            });
          #map
    else
      .content(style='text-align: center; font-size:20px')
        h1 You are not logged in!
        a(href="/login") Login
        p
        p or 
        a(href="/register") Register