extends layout

block content
  .container(style='text-align: center')
    p #{module}
    h1 Welcome to CPRideShare
    if (!user)
      p.lead
        a(href="/login") Login
        br
        a(href="/register") Register
        br
       
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
      p
      a(href="/addride") Add a Ride
      p
      a(href="/users/#{user.username}") Veiw your page